.div1{
    background-color: white;
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0%;
    
}
body{
    background-color: whitesmoke;
}
P{
font-family:  monospace;
position: fixed;
right: 10%;
top: 2%;
}
.bu1{
    font-family:  monospace;
position: fixed;
right: 3%;
top: 3%;
background-color: green;
color: white;
border-radius: 5%;
height: 5%;
}
 .img1{

    position: fixed;
    top: 0%;
    width: 15%;
    height: 10%;

} 
.img2{
    width: 99%;
    height: 40%;
    position: absolute;
    top:11%;
    z-index: -1;
}
.div3{
    width: 90%;
    height: 50%;
    position: absolute;
    top: 53%;
    left: 5%;
 background-color: white;
 box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
 z-index: -1;
}
.div4{
    width: 90%;
    height: 50%;
    position: absolute;
    top: 109%;
    left: 5%;
 background-color: white;
 box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
 z-index: -1;
}
.div5{
    width: 90%;
    height: 50%;
    position: absolute;
    top: 165%;
    left: 5%;
 background-color: white;
 box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
 z-index: -1;
}
header{
    background-color: #f66c17;
    width: 100%;
    height: 30%;
    position: absolute;
    top: 0%;
}
img{
    width: 10%;
    height: 85%;

}
.p1{
    position: absolute;
    top: 0%;
    left: 10%;
    font-family: monospace;
    font-size: large;
    color: white;
}

.p2{
     position: absolute;
    top: 25%;
    left: 10%;
    color: white;
    font-family: monospace;
    font-size: large;

}
.bu2{
    font-family:  monospace;
    position: absolute;
    left: 45%;
    bottom: 20%;
    background-color: green;
    color: white;
    border-radius: 5%;
    height: 8%;
    }
    h2{
        font-family: monospace;
        font-size: large;
        position: absolute;
        top: 30%;
        
        color: rgb(95, 93, 93);
    }
    .h2{
        font-family: monospace;
        font-size: large;
        position: absolute;
        top: 100%;
        
        color: rgb(95, 93, 93);
    }
    .h3{
        font-family: monospace;
        font-size: large;
        position: absolute;
        top: 100%;
        
        color: rgb(95, 93, 93);
    }
.img3{
    width: 60%;
    height:50% ;
    position: absolute;
    top: 49%;
    left: 20%;
    animation-name: sigh;
    animation-duration: 1.7s ;
    animation-iteration-count: infinite;
   animation-delay: 1s; 

}
@keyframes sigh {
    0%{ top:50%;}
    100%{  bottom:70%;}    
    0%{ top: 50%;}
}
.div6{
  width: 60%;
  height: 175%;
  background-color:  #f46005;
  color:white;
  position: absolute;
  top:220% ;
  left: 18%;
  z-index: -1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
}
h1{
    font-size: 60px;
    font-family:  monospace;
    margin-left: 25%;
}
